a:link {
    text-decoration: none;
    /*color: #28a4c9;*/
}

a:visited {
    text-decoration: none;
    /*color: #28a4c9;*/
}

a:hover {
    text-decoration: none;
    /*color: #28a4c9;*/
}

a:active {
    text-decoration: none;
    /*color: #28a4c9 !important;*/
}
