{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
    Treasure Houses: In Game
{% endblock %}


{% block navbar %}

    {% include "base/gamenavbar.html" %}


{% endblock %}

{% block belownavbar %}
    {#        <div class="well sidebar-nav">#}
    {##}
    {#        <ul class="nav nav-list">#}
    {#             <li class="nav-header">Instructions</li>#}
    {##}
    {#            <li>Click <b>Open chest</b> to open the next chest.</li>#}
    {#            <br/>#}
    {#            <li>Each chest contains 0 to 3 gems.</li>#}
    {#            <br/>#}
    {#            <li>Click <b>Go to next room</b> to move to a new set of chests.</li>#}
    {#            <br/>#}
    {#            <li>Each action cost keys.</li>#}
    {#            <br/>#}
    {#            <li>Each games has 30 keys.</li>#}
    {#            <br/>#}
    {#            <li>Find the most amount of gems</li>#}
    {##}
    {#        </ul>#}
    {#             </div><!--/.well -->#}
{% endblock %}


{% block content %}

    {% if data %}

        {#        <div class="jumbotron">#}
        {#        </div>#}

        <div class="row-fluid" xmlns="http://www.w3.org/1999/html">
        <div class="span12">

            {#            <h3>Results for Room {{ data.no }}</h3><br/>#}
            <br/><br/>
            {% for d in data.round %}
                <span class="span2">
                    <p align="center">
                        {#                        {% if d.opened %} <span class="label">Opened</span> {% else %}#}
                        {#                        <span class="label label-inverse">Unopened</span> {% endif %}#}

                        {% if gameId <= 3 %}
                            {% if d.opened %}
                                <img src="{% static "images/chest_noinfo_opened_" %}{{ d.gain }}.png" width="120">
                            {% else %}
                                <img class="chests" src="{% static "images/chest_noinfo.png" %}" width="120">
                            {% endif %}
                        {% else %}
                            {% if d.opened %}
                                <img src="{% static "images/chest_" %}{{ d.gain }}_opened.png" width="120">
                            {% else %}
                                <img class="chests_info" src="{% static "images/chest_" %}{{ d.gain }}.png" width="120">
                            {% endif %}
                        {% endif %}
                        {% if d.opened %}

                            {% if d.gain > 2 %}<span class="badge badge-success">{{ d.gain }} <i class="fa fa-diamond"
                                                                                                 aria-hidden="true"></i></span>
                            {% else %}
                                {% if d.gain > 0 %}
                                    <span class="badge badge-warning">{{ d.gain }} <i class="fa fa-diamond"
                                                                                      aria-hidden="true"></i></span>
                                {% else %}
                                    <span class="badge badge-important">{{ d.gain }} <i class="fa fa-diamond"
                                                                                        aria-hidden="true"></i></span>
                                {% endif %}
                            {% endif %}
                        {% else %} <span class="badge">?</span> {% endif %}

                        {#                        {{d.label}}#}


                    </p>
                    </span>


            {% endfor %}

        </div>

        <div class="span10">
            <hr>
            <h1 style="font-family: 'VT323';">Actions</h1>
            {% if data.gameover %}
                <a class="btn btn-success btn-large span5 disabled">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    <span style="font-family: 'VT323';font-size: 25px">&nbsp Open chest &nbsp</span>
                        <span class="badge badge-important">
                            {{ data.ca }}
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                </a>


                <a class="btn btn-primary btn-large span6 disabled">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span style="font-family: 'VT323';font-size: 25px">&nbsp Go to next room &nbsp</span>
                         <span class="badge badge-important">
                             {{ data.cq }}
                         <i class="fa fa-key" aria-hidden="true"></i>
                         </span>
                </a>
            {% else %}

                <a style="font-size: 20px" href="/asg/assess/" class="btn btn-success btn-large span5">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    <span style="font-family: 'VT323';font-size: 25px">&nbsp Open chest &nbsp</span>
                        <span class="badge badge-important">
                            {{ data.ca }}
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                </a>


                <a href="/asg/query/" class="btn btn-primary btn-large span6">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span style="font-family: 'VT323';font-size: 25px">&nbsp Go to next room &nbsp</span>
                         <span class="badge badge-important">
                             {{ data.cq }}
                         <i class="fa fa-key" aria-hidden="true"></i>
                         </span>
                </a>

            {% endif %}
        </div>



        <div class="span12">
            <hr>
            <h1 style="font-family: 'VT323';">Game Stats</h1>
            <div class="well">
                <span class="span4"><span style="font-family: 'VT323';font-size: 20px">Keys Left: </span><span
                        class="badge badge-important">{{ data.tokens }} <i
                        class="fa fa-key" aria-hidden="true"></i></span></span>
                {#            <div class="progress span9">#}
                {#                <div class="bar" style="width: {{ data.ptokens }}%;"></div>#}
                {#            </div>#}
                <p class="span4"><span style="font-family: 'VT323';font-size: 20px">Gems Gain: </span><span
                        class="badge badge-success">{{ data.points }} <i
                        class="fa fa-diamond" aria-hidden="true"></i></span></p>

                <p class="span4">
                    <span style="font-family: 'VT323';font-size: 20px">
                        Location:
                    </span>
                    <span class="badge badge-success">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        Room &nbsp;{{ data.no }}</span>
                </p>
                {#            <p>No. of Queries Issued: {{ data.no }}</p>#}

                {#                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal">Test#}
                {#                </button>#}

            </div>
        </div>


    {% endif %}

    <div id="gameover" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h1 style="font-family: 'VT323';" align="center" class="modal-title">GAME OVER</h1>
                </div>
                <div class="modal-body" style="font-family: 'VT323';font-size: 25px;">
                    {% if gameId == 6 %}
                        <p align="center"><img src="{% static "images/trophy.png" %}" width="180px"></p>
                    {% else %}
                         <p align="center"><img src="{% static "images/star_" %}{{ star }}.png" width="100px"></p>
                    {% endif %}

                    <p align="center">You got {{ data.points }} Gems!</p>

                    {% if new_high %}
                        <p align="center">New High Score!</p>
                    {% endif %}
                    {% if gameId == 6 %}
                        <p align="center" style="font-size: 15px">It's the last house of this game! Thanks for playing!</p>
                            <br/>
                    {% else %}
                    <p align="center">
                        {% for info in starInfo %}
                            <span style="font-size: 15px">{{ forloop.counter }} star when you got more than {{ info }} gems</span>
                            <br/>
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <div align="center">
                        <a href="/asg/" class="btn btn-success btn-large"><i class="fa fa-home" aria-hidden="true"></i>
                            <span style="font-family: 'VT323';font-size: 20px">Home</span>
                        </a>
                        <a href="/asg/pick/{{ user.username }}/" class="btn btn-primary btn-large"><i
                                class="fa fa-repeat" aria-hidden="true"></i>
                            <span style="font-family: 'VT323';font-size: 20px"> Play Again</span>
                        </a>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="query_error" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h1 style="font-family: 'VT323';" align="center" class="modal-title">WARNING</h1>
                </div>
                <div class="modal-body" style="font-family: 'VT323';font-size: 25px;">
                    <p align="center">You don't have enough keys</p>
                </div>
                <div class="modal-footer">
                    <div align="center">
                        <a type="button" class="btn btn-warning" data-dismiss="modal">
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                            <span style="font-family: 'VT323';font-size: 20px;">Close</span>
                        </a>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div id="access_error" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h1 style="font-family: 'VT323';" align="center" class="modal-title">WARNING</h1>
                </div>
                <div class="modal-body" style="font-family: 'VT323';font-size: 25px;">
                    <p align="center">No more chests to open in this room!</p>
                </div>
                <div class="modal-footer">
                    <div align="center">
                        <a type="button" class="btn btn-warning" data-dismiss="modal">
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                            <span style="font-family: 'VT323';font-size: 20px;">Close</span>
                        </a>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



{% endblock %}

