{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
    Treasure Houses: In Game
{% endblock %}


{% block navbar %}

    {% include "base/gamenavbar.html" %}


{% endblock %}

{% block belownavbar %}

{% endblock %}


{% block content %}

    <div class="span12" xmlns="http://www.w3.org/1999/html">
        <h1 style="font-family: 'VT323';">Game Stats</h1>
        <div class="well">
                <span class="span3"><span style="font-family: 'VT323';font-size: 20px">Keys Left: </span><span
                        class="badge badge-important" style="font-size: larger">{{ data.tokens }} <i
                        class="fa fa-key" aria-hidden="true"></i></span></span>

            <p class="span3"><span style="font-family: 'VT323';font-size: 20px">Gems Gain: </span><span
                    class="badge badge-success" style="font-size: larger">{{ data.points }} <i
                    class="fa fa-diamond" aria-hidden="true"></i></span></p>

            <p class="span6">
                    <span style="font-family: 'VT323';font-size: 20px">
                        Location:
                    </span>
                    <span class="badge badge-success" style="font-size: larger">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        {% if gameId == 1 %}Wooden House - {% endif %}
                        {% if gameId == 2 %}Cafe Shop - {% endif %}
                        {% if gameId == 3 %}Purple Roof - {% endif %}
                        {% if gameId == 4 %}Sakura - {% endif %}
                        {% if gameId == 5 %}Wild Man - {% endif %}
                        {% if gameId == 6 %}Wooden House - {% endif %}
                        &nbsp;Room &nbsp;{{ data.no }}</span>
            </p>

        </div>
    </div>

    {% if data %}

        <div class="row-fluid" xmlns="http://www.w3.org/1999/html">

        <div class="span10" style="margin: 0;padding: 0;">

            <br/>
            {% for display,d in zipped_data %}
                <span class="span2">
                    <p align="center">

                        {% if gameId <= 3 %}
                            {% if d.opened %}
                                <img data-toggle="tooltip" data-placement="top" title="Is it what you want? Haha!"
                                     src="{% static "images/chest_noinfo_opened_" %}{{ d.gain }}.png" width="120">
                            {% else %}
                                <img data-toggle="tooltip" data-placement="bottom" title="I got 3 Gems! :D"
                                     class="chests {{ forloop.counter0 }}" src="{% static "images/chest_noinfo.png" %}"
                                     width="120">
                            {% endif %}
                        {% else %}
                            {% if d.opened %}
                                <img data-toggle="tooltip" data-placement="top"
                                     title="Just think about what I could have!"
                                     src="{% static "images/chest_" %}{{ display }}_opened_{{ d.gain }}.png"
                                     width="120">
                            {% else %}
                                <img data-toggle="tooltip" data-placement="bottom" title="I'm not a common chest!"
                                     class="chests_info {{ forloop.counter0 }}_info"
                                     src="{% static "images/chest_" %}{{ display }}.png" width="120">
                            {% endif %}
                        {% endif %}
                        {% if d.opened %}

                            {% if d.gain > 2 %}<span class="badge badge-success">{{ d.gain }} <i class="fa fa-diamond"
                                                                                                 aria-hidden="true"></i></span>
                            {% else %}
                                {% if d.gain > 0 %}
                                    <span class="badge badge-warning">{{ d.gain }} <i class="fa fa-diamond"
                                                                                      aria-hidden="true"></i></span>
                                {% else %}
                                    <span class="badge badge-important">{{ d.gain }} <i class="fa fa-diamond"
                                                                                        aria-hidden="true"></i></span>
                                {% endif %}
                            {% endif %}
                        {% else %} <span class="badge">?</span> {% endif %}

                    </p>
                </span>


            {% endfor %}


        </div>
        <div class="span2" style="padding: 0;margin: 0;">
                <span>
                    <img data-toggle="tooltip" data-placement="bottom" title="I'm the door to next room!" class="door"
                         style="margin-top: 60px;" src="{% static "images/door.png" %}" width="150">
                </span>
        </div>

        <div class="span12">
            <hr>
            <h1 style="font-family: 'VT323';">Actions</h1>
            <span class="span12">
                {% if data.gameover %}
                    <a class="btn btn-success btn-large span4 disabled">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        <span style="font-family: 'VT323';font-size: 25px">&nbsp Open Chest &nbsp</span>
                        <span class="badge badge-important" style="font-size: larger">
                            {{ data.ca }}
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                    </a>


                    <a class="btn btn-primary btn-large span4 disabled">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span style="font-family: 'VT323';font-size: 25px">Next Room &nbsp</span>
                         <span class="badge badge-important" style="font-size: larger">
                             {{ data.cq }}
                         <i class="fa fa-key" aria-hidden="true"></i>
                         </span>
                    </a>

                    <button type="button" class="btn btn-info btn-large span4" data-toggle="modal"
                            data-target="#gameover">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <span style="font-family: 'VT323';font-size: 25px">Game Result &nbsp</span>
                    </button>
                {% else %}

                    <a data-toggle="tooltip" data-placement="top" title="Cost 1 key to open a chest"
                       style="font-size: 20px" href="/th/assess/" class="btn btn-success btn-large span4 chestOpen">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        <span style="font-family: 'VT323';font-size: 25px">Open Chest &nbsp</span>
                        <span class="badge badge-important" style="font-size: larger">
                            {{ data.ca }}
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                    </a>


                    <a data-toggle="tooltip" data-placement="top"
                       title="Cost 2 key to next door and refresh all the chests" href="/th/query/"
                       class="btn btn-primary btn-large span4 doorNext">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span style="font-family: 'VT323';font-size: 25px">Next Room &nbsp</span>
                         <span class="badge badge-important" style="font-size: larger">
                             {{ data.cq }}
                         <i class="fa fa-key" aria-hidden="true"></i>
                         </span>
                    </a>

                {% endif %}
            </span>
            <span class="span4">

            </span>

        </div>








    {% endif %}

    <div id="gameover" class="modal fade hide" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h1 style="font-family: 'VT323';" align="center" class="modal-title">GAME OVER</h1>
                </div>
                <div class="modal-body" style="font-family: 'VT323';font-size: 25px;">
                    {% if gameId == 6 %}
                        <p align="center"><img src="{% static "images/trophy.png" %}" width="180px"></p>
                    {% else %}
                        <p align="center"><img src="{% static "images/star_" %}{{ star }}.png" width="100px"></p>
                    {% endif %}

                    <p align="center">You got {{ data.points }} Gems!</p>

                    {% if new_high %}
                        <p align="center">New High Score!</p>
                    {% endif %}
                    {% if gameId == 6 %}
                        <p align="center" style="font-size: 15px">It's the last house of this game! Thanks for
                            playing!</p>
                        <br/>
                    {% else %}
                        <p align="center">
                            {% for info in starInfo %}
                                <span style="font-size: 15px">{{ forloop.counter }} star when you got more than {{ info }} gems</span>
                                <br/>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <div align="center">
                        <a href="/th/" class="btn btn-success btn-large"><i class="fa fa-home" aria-hidden="true"></i>
                            <span style="font-family: 'VT323';font-size: 20px">Back to Home</span>
                        </a>
                        <a href="/th/pick/{{ user.username }}/" class="btn btn-primary btn-large">
                            <i class="fa fa-hand-o-up" aria-hidden="true"></i>
                            <span style="font-family: 'VT323';font-size: 20px"> Pick a House</span>
                        </a>
                        <a href="/th/start/{{ gameId }}/" class="btn btn-warning btn-large"><i
                                class="fa fa-repeat" aria-hidden="true"></i>
                            <span style="font-family: 'VT323';font-size: 20px"> Play Again</span>
                        </a>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="query_error" class="modal fade hide" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h1 style="font-family: 'VT323';" align="center" class="modal-title">WARNING</h1>
                </div>
                <div class="modal-body" style="font-family: 'VT323';font-size: 25px;">
                    <p align="center">You don't have enough keys</p>
                </div>
                <div class="modal-footer">
                    <div align="center">
                        <a type="button" class="btn btn-warning" data-dismiss="modal">
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                            <span style="font-family: 'VT323';font-size: 20px;">Close</span>
                        </a>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div id="access_error" class="modal fade hide" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h1 style="font-family: 'VT323';" align="center" class="modal-title">WARNING</h1>
                </div>
                <div class="modal-body" style="font-family: 'VT323';font-size: 25px;">
                    <p align="center">No more chests to open in this room!</p>
                </div>
                <div class="modal-footer">
                    <div align="center">
                        <a type="button" class="btn btn-warning" data-dismiss="modal">
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                            <span style="font-family: 'VT323';font-size: 20px;">Close</span>
                        </a>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="special_error" class="modal fade hide" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h1 style="font-family: 'VT323';" align="center" class="modal-title">WARNING</h1>
                </div>
                <div class="modal-body" style="font-family: 'VT323';font-size: 25px;">
                    <p align="center">Oops! What happened?! </p>
                    <p align="center">You have insufficient keys to next room and there is no more
                        chests in this room!</p>
                    <p align="center">But you can end the game :D</p>
                    <p align="center"><i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                </div>
                <div class="modal-footer" align="center">
                    <div align="center">
                        <a
                                href="/th/endGame/"
                                class="btn btn-warning btn-large leave">
                            <span style="font-family: 'VT323';font-size: 25px">End the Game</span>
                        </a>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {% if noise == 1 and access_msg == True %}
        <audio class="noise" src="{% static "images/noise_1.mp3" %}" autoplay/>
    {% elif noise == 2 and query_msg == True %}
        <audio class="noise" src="{% static "images/noise_2.mp3" %}" autoplay/>
    {% elif noise == 3 %}
        <audio class="noise" src="{% static "images/noise_3.mp3" %}" autoplay/>
    {% elif noise == 4 %}
        <audio class="noise" src="{% static "images/noise_4.mp3" %}" autoplay/>
    {% endif %}

{% endblock %}

