{% extends 'base/base.html' %}

{% block title %}
    Leaderboard
{% endblock %}


{% block navbar %}

    {% include "base/navbar.html" %}
{% endblock %}


{% block content %}


    <span class="span11"  style="font-family: 'VT323';">
    <div class="" xmlns="http://www.w3.org/1999/html">
        <h1 style="font-family: 'VT323';font-size: 50px;" align="center">Leaderboard</h1><br/><br/>



    </div>

    <table class="table table-hover table-bordered" style="font-size: 20px;">
                <tr class="info">
                    <td>Player</td>
                    <td>Average Gems</td>
                    <td>Total Gems</td>
                    <td>Gain-Keys Ratio</td>
                </tr>
                {% for p in players %}
                    <tr class="success">
                    <td><a href='/th/players/{{ p.user.username }}/'> {{ p.user.username }}</a></td>
                    <td>{{ p.average_points|floatformat:"1" }}</td>
                    <td>{{ p.total_points }}</td>
                    <td> {{ p.ratio }}</td>
                {% endfor %}
                </tr>
            </table>
    </span>
        <div class="span10" align="center" style="font-family: 'VT323';">

            <div class="pagination">
    <span class="step-links">
        {% if players.has_previous %}
            <a href="?page={{ players.previous_page_number }}">previous</a>
        {% endif %}


        <br/>
        <span class="current">
            Page {{ players.number }} of {{ players.paginator.num_pages }}.
        </span>

        {% if players.has_next %}
            <a href="?page={{ players.next_page_number }}">next</a>
        {% endif %}
    </span>
            </div>

        </div>

{% endblock %}
