{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
    Treasure Houses: Enter Treasure House
{% endblock %}


{#{% block navbar %}#}
{#            {% include "base/navbar.html" %}#}
{#{% endblock %}#}


{% block content %}
    <span class="span11">
    <div class="" xmlns="http://www.w3.org/1999/html">
        <h1 style="font-family: 'VT323';font-size: 50px;" align="center">Pick a Treasure House</h1><br/><br/>
    </div>
    </span>

    {% for g,l,us,gs,st in zipped_data %}

        {% if forloop.first %}
            <div class="row-fluid">
        {% endif %}
    <div class="span4">
{#        <h3>{{ g.name }}</h3>#}

        {% if g.id == 1 %}
            <img src="{% static "images/star_" %}{{ st }}.png" width="180px">
            <a href="/asg/start/{{ g.id }}/">
                    <img class="houseinfo house" data-toggle="popover"
                         data-placement="bottom"
                         title="{{ g.name }}"
                         data-content="Gems you got: {{ gs }}"
                         src="{% static "images/house_" %}{{ forloop.counter0 }}.png"
                         width="180px"
                    >
            </a>
        {% elif g.id == 6 %}
            {% if l == 1 %}
                <img src="{% static "images/star_lock.png" %}" width="180px">
                <img data-toggle="tooltip" data-placement="bottom" title="Get 3 Stars in previous house to unlock!"
                     class="house_lock" src="{% static "images/house_" %}{{ forloop.counter0 }}_lock.png" width="180px">
            {% else %}
                <img src="{% static "images/trophy.png" %}" width="180px">
                <a href="/asg/start/{{ g.id }}/">
                    <img class="houseinfo house" data-toggle="popover"
                         data-placement="bottom"
                         title="{{ g.name }}"
                         data-content="Gems you got: {{ gs }}"
                         src="{% static "images/house_" %}{{ forloop.counter0 }}.png"
                         width="180px"
                    >
            </a>
            {% endif %}

        {% else %}
            {% if l == 1 %}
                <img src="{% static "images/star_lock.png" %}" width="180px">
                <img data-toggle="tooltip" data-placement="bottom" title="Get 3 Stars in previous house to unlock!"
                     class="house_lock" src="{% static "images/house_" %}{{ forloop.counter0 }}_lock.png" width="180px">

            {% else %}
                <img src="{% static "images/star_" %}{{ st }}.png" width="180px">
                <a href="/asg/start/{{ g.id }}/">
                    <img class="houseinfo house"
                         data-toggle="popover"
                         data-placement="bottom"
                         title="{{ g.name }}"
                         data-content="Gems you got: {{ gs }}"
                         src="{% static "images/house_" %}{{ forloop.counter0 }}.png"
                         width="180px"
                    >
                </a>
            {% endif %}
        {% endif %}
        {#             <p>{{g.desc}}</p><p>Average Gain/Time Ratio: {{g.ratio}}</p>#}
       <br/><br/><br/>
        {#             <p><a class="btn btn-primary" href="/asg/start/{{g.id}}/">Play &raquo;</a></p>#}
    </div><!--/span-->
    {% if forloop.counter|divisibleby:"3" %}
        </div>
        {% if not forloop.last %}
            <div class="row-fluid">
        {% endif %}
    {% endif %}
    {% if forloop.last %}
        </div>
    {% endif %}
    {% endfor %}



{% endblock %}

















