{% extends 'base/base.html' %}

{% block title %}
    Profile
{% endblock %}


{% block navbar %}
    {% include "base/navbar.html" %}
{% endblock %}


{% block content %}

    {% if player %}


        <div class="span11" style="font-family: 'VT323';font-size: 25px;">
        <h1 align="center" style="font-family: 'VT323';font-size: 50px;">Profile: {{ player.username }}</h1><br/><br/>




            <br/>
            <div align="center">

                Combined Games Gems Gain: {{ profile.combined_points }}<br/>
                <hr/>
                Number of Games Played: {{ profile.no_games_played }}<br/>
                <hr/>
                Number of chests opened: {{ profile.no_docs_assessed }}<br/>
                <hr/>
                Number of rooms visited: {{ profile.no_queries_issued }}<br/>
                <hr/>
                Gems/Keys : {{ profile.ratio }}
                <hr/>
                Total Gems: {{ profile.total_points }}<br/>
                <hr/>
                Keys Spent: {{ profile.total_tokens }}<br/>
                <hr/>

            </div>
        </div>

        {#        {% for gs in game_scores %}#}
        {##}
        {#        {% if forloop.first %}#}
        {#    <div class="row-fluid">#}
        {#        {% endif %}#}
        {#         <div class="span4">#}
        {#             <h3>{{gs.game_experiment.name}}</h3>#}
        {#             <p>{{gs.game_experiment.desc}}</p>#}
        {#             <p> High Score: {{gs.points}}</p>#}
        {#             <p>Average Gain/Time Ratio: {{gs.ratio}}</p>#}
        {#             <p><a class="btn btn-primary" href="/asg/start/{{gs.game_experiment.config}}/">Play &raquo;</a></p>#}
        {#          </div><!--/span-->#}
        {#         {% if forloop.counter|divisibleby:"3" %}#}
        {#            </div>#}
        {#            {% if not forloop.last %}#}
        {#                <div class="row-fluid">#}
        {#             {% endif %}#}
        {#          {% endif %}#}
        {#         {% if forloop.last %}#}
        {#                </div>#}
        {#         {% endif %}#}
        {#    {% endfor %}#}


    {% else %}
        Player not found.
    {% endif %}

</div>
{% endblock %}
