<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap-fluid-adj.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/myCss.css" rel="stylesheet">

    <!-- Animate-->
    <link href="{{ STATIC_URL }}css/animate.min.css" rel="stylesheet">

    <!-- Fonts Awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Google Font-->
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/th/">Treasure House</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    {% if user.is_authenticated %}
                        Welcome <a href="/th/players/{{ user.username }}/">{{ user.username }}</a>
                        | <a href="/accounts/logout/">Logout</a>
                    {% else %}
                        <a href="/accounts/register/">Register</a>| <a href="/accounts/login/">Login</a>
                    {% endif %}
                </p>
                <ul class="nav">
                    {% if user.is_authenticated %}
                        <li><a href="/th/pick/{{ user.username }}/">Play</a></li>
                    {% endif %}
                    <li><a href="/th/leaderboard">Leaderboard</a></li>
                    <li><a href="/th/about">About</a></li>
                    <li><a href="/th/howToPlay">How To Play</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            {#          <div class="well sidebar-nav">#}
            {#            <ul class="nav nav-list">#}
            {#            <li></li><li></li>#}
            {#            {% block navbar %}#}
            {#            {% endblock %}#}
            {#            </ul>#}
            {##}
            {##}
            {##}
            {##}
            {#          </div><!--/.well -->#}

            {% block belownavbar %}
            {% endblock %}

        </div><!--/span-->
        <div class="span9">

            {% block content %}
            {% endblock %}


        </div><!--/span-->
    </div><!--/row-->

    {#    <hr>#}

    {#      <footer>#}
    {#        <p>iFind GitHub 2013</p>#}
    {#      </footer>#}

</div><!--/.fluid-container-->

<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

<script>

    $(document).ready(function () {
        setTimeout(function () {
            $('#backHome').click()
        }, 3000);
    });


    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover()

    });

    $(document).ready(function () {

        $.fn.extend({
            animateCss: function (animationName) {
                var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                $(this).addClass('animated ' + animationName).one(animationEnd, function () {
                    $(this).removeClass('animated ' + animationName);
                });
            }
        });


        $(".house").mouseover(function () {
            $(this).animateCss('pulse');
        });

        $(".house_lock").mouseover(function () {
            $(this).animateCss('shake');
        });
        {#        $(".chests").animateCss('tada');#}
        $(".{{ next }}").animateCss('tada');
        $(".{{ next }}_info").animateCss('rubberBand');


        {#        setTimeout(function(){#}
        {#            $(".door").show();#}
        {#            $(".door").animateCss('bounceInRight');#}
        {#        },300);#}


        $(".doorNext").mouseover(function () {
            $(".door").animateCss('zoomIn');
        });


        $(".chestOpen").mouseover(function () {
            $(".{{ next }}").animateCss('tada');
            $(".{{ next }}_info").animateCss('rubberBand');

        });
    });


    $(".houseinfo").mouseover(function () {
        $(this).popover('show');
    });
    $(".houseinfo").mouseleave(function () {
        $(this).popover('hide');
    })

    {% if data.gameover %}
        $(document).ready(function () {
            setTimeout(function () {
                $('#gameover').modal('show');
            }, 1000);
        });

    {% endif %}

    {% if query_msg == False %}
        $(document).ready(function () {
            setTimeout(function () {
                $('#query_error').modal('show');
            }, 0);
        });

    {% endif %}


    {% if access_msg == False %}
        $(document).ready(function () {
            setTimeout(function () {
                $('#access_error').modal('show');
            }, 0);
        });

    {% endif %}

    {% if special_msg == True %}
        $(document).ready(function () {
            setTimeout(function () {
                $('#special_error').modal('show');
            }, 0);
        });

    {% endif %}


</script>

</body>
</html>